version: '3.7'
services:
        ropsten:
                image: multigeth/multi-geth:version-1.9.10
                restart: on-failure
                network_mode: host
                command: "--nousb --syncmode 'light' --rpc --rpcaddr 'localhost' --rpcport 8080 --testnet"
                volumes:
                       - "$PWD/data:/root/.ethereum"
