version: '3.7'
services:
        ethereum:
                image: ethereum/client-go:v1.9.10
                restart: on-failure
                network_mode: host
                command: "--syncmode 'light' --rpc --rpcaddr 'localhost' --rpcport 5555 --testnet"
                volumes:
                       - "$PWD/data:/root/.ethereum"
